.fnpizza-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
.fnpizza-content h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--fn-c-primary);
  margin-bottom: 40px;
}

.fnpizza-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.fnpizza-list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.fnpizza-custom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fnpizza-custom h2,
.fnpizza-custom h3 {
  font-weight: 700;
}

.fnpizza-custom h2 {
  font-size: 48px;
  color: var(--fn-c-primary);
}

.fnpizza-custom h3 {
  font-size: 24px;
  color: var(--fn-c-black);
}

.fnpizza-custom-size {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fnpizza-custom-size-list {
  display: flex;
  gap: 30px;
}

.fnpizza-custom-toppings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fnpizza-custom-toppings-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.topping-disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);
}

/**Responsive for laptop */

@media screen and (max-width: 1580px) {
  .fnpizza-content {
    gap: 30px;
  }
}

/**Responsive for mobile */

@media screen and (max-width: 1024px) {
  .fnpizza-content {
    gap: 40px;
  }

  .fnpizza-list {
    gap: 10px;
  }

  .fnpizza-custom {
    gap: 30px;
  }

  .fnpizza-list,
  .fnpizza-custom h2,
  .fnpizza-custom h3 {
    width: 100%;
    height: 100%;
  }

  .fnpizza-custom h2,
  .fnpizza-list h2 {
    text-align: center;
    font-size: 40px;
  }

  .fnpizza-list-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .fnpizza-custom-size-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fnpizza-custom-toppings-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
