@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

.fn-content {
  display: flex;
  padding: 160px 134px 160px 134px;
  gap: 30px;
  width: 100vw;
}

/*RESPONSIVE*/

@media only screen and (max-width: 1280px) {
  .fn-content {
    padding: 50px;
    gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .fn-content {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}
